<!--
   Author: Russell Toris, Worcester Polytechnic Institute
  Version: Aug 2, 2012
-->

<launch>
  <!-- launch the Kinect -->
  <include file="$(find openni_launch)/launch/openni.launch" />

  <!-- start the YouBot's drivers -->
  <include file="$(find youbot_oodl)/launch/youbot_oodl_driver.launch" />

  <!-- load the RAIL YouBot URDF into the parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find rail_youbot_description)/robots/rail_youbot.urdf.xacro'" />

  <!-- start the state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" output="screen"/>
  <node name="robot_base_state_publisher" pkg="robot_state_publisher" type="state_publisher" output="screen">
    <remap from="joint_states" to="base/joint_states" /> 
  </node>
</launch>
